<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\Users\dev\Desktop\my-automation-projects\selenium_jenkins2">

        <classes>
            <class name="Tests.Test"></class>
        </classes>
        
    </test>
</suite>